# Salin file ini jadi ".env" dan isi sesuai konfigurasi kamu.

# Path lengkap ke file master.mdb di komputer kamu
MASTER_MDB_PATH=C:\Program Files (x86)\Steam\steamapps\common\UmamusumePrettyDerby_Jpn\UmamusumePrettyDerby_Jpn_Data\Persistent\master\master.mdb

# Koneksi MySQL/MariaDB tujuan
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=uma_skill_calc
